.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px 20px 20px;
  background-color: #fff; /* Dark gray background */
  color: #000; /* White text color */
  overflow: hidden;
  position: relative;
}
.navbar::after {
  content: "";
  position: absolute;
  bottom: 40%; /* Position the line at the bottom */
  left: 0;
  width: 100%;
  height: 1px; /* Set the height of the line */
  background-color: #d7d3d3;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%; /* Make the container full width */
}

.navbar-logo {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 27px;
}
.navbar-logo-image {
  width: 110px;
  height: 65px;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0 auto; /* Center the menu items horizontally */
  padding: 0;
}

.nav-item {
  margin-top: -30px;
  margin-bottom: -18px;
  margin-left: 15px;
  margin-right: 15px;
}
.selected {
  border-bottom: 3px solid #252442; /* underline color and thickness */
  font-weight: bold;
}

.nav-links {
  text-decoration: none;
  color: #000;
  padding: 10px 10px; /* Add padding for spacing */
}

.nav-contact {
  text-decoration: none;
  color: #000;
  background-color: #252442;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 50px;
  margin-top: -30px;
  color: #fff;
}
.nav-contact .fa-arrow-right {
  margin-right: 6px;
  margin-left: 8px;
}
.nav-contact:hover {
  background-color: transparent; /* Change background color on hover */
  color: #000;
  border: solid 0.8px;
}

/* For screens smaller than 768px (phones) */
@media screen and (max-width: 870px) {
  .navbar {
    flex-direction: column;
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .navbar::after {
    bottom: 0; /* Position the line at the bottom of the navbar */
  }

  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-logo {
    margin-bottom: 10px; /* Reduce margin for smaller screens */
  }

  .nav-menu {
    flex-direction: column;
    margin: 0; /* Remove margin for smaller screens */
  }

  .nav-item {
    margin: 5px 0; /* Adjust margin for smaller screens */
  }

  .nav-links {
    padding: 5px 0; /* Adjust padding for smaller screens */
  }

  .nav-contact {
    margin-top: 10px; /* Adjust margin for smaller screens */
  }
}
